<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/head :: head('Manage Categories')}"></head>

<body>

<header th:replace="~{admin/head :: masterbar}"></header>

<div class="wrapper">
	<div th:replace="~{admin/sidebar :: sidebar}"></div>

	<div class="page-content-wrapper">
		<div class="container-fluid">

			<h2>Categories</h2>
			<div class="divider"></div>
			<a onclick="openEditDialog('create')">Add new category</a>
			<div class="divider"></div>

			<div class="admin-grid">
				<div class="admin-grid__header">
					Categories
				</div>

				<div th:each="category: ${categories}" class="grid-item">
					<div class="grid-item__detail">
						<h2 class="grid-item__title">
							<a
								th:text="${category.name}"
								class="grid-item__title-link"
								onclick="openEditDialog('edit')"
							></a>
						</h2>
					</div>

					<div class="grid-item__actions">
						<button class="ellipsis-menu img-button" th:data-item-id="${category.id}">
							<img src="/images/ellipsis.svg" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer th:replace="~{admin/footer :: footer}"></footer>

<div class="popover">
	<div role="menu" class="popover__menu">
		<a onclick="openEditDialog('edit')">Edit</a>
		<a onclick="deleteItem()">Delete</a>
	</div>
</div>

<div class="dialog__backdrop">
	<div class="dialog-card">
	
		<h2 class="form-section-heading"></h2>
	
		<form id="admin-form" onsubmit="saveChanges(event)">
			<div class="mb-3">
				<input type="text" class="form-control" id="name" name="name" placeholder="Category Name">
			</div>
	
			<div class="mb-3">
				<label for="descr" class="form-label">Description</label>
				<textarea class="form-control" id="descr" name="description" rows="3"></textarea>
			</div>
	
			<div class="dialog__action-buttons">
				<button class="button" onclick="closeEditDialog(event)">
					Cancel
				</button>
				<button type="submit" class="button">
					Add
				</button>
			</div>
		</form>
	</div>
</div>

<script>
	const domain = "categories";
</script>

<div th:replace="~{admin/footer :: scripts}"></div>
<script th:src="@{/js/adminGrid.js}"></script>
<script th:src="@{/js/editObject.js}"></script>
<script th:src="@{/js/editItemDialog.js}"></script>

</body>
</html>
