<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar" class="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a th:href="@{/admin}">
				Admin Dashboard
			</a>
		</li>
		<li>
			<a th:href="@{/admin}">Dashboard</a>
		</li>
		<li>
			<a th:href="@{/admin/posts}">Posts</a>
		</li>
		<li>
			<a th:href="@{/admin/categories}">Categories</a>
		</li>
		<li>
			<a th:href="@{/admin/tags}">Tags</a>
		</li>
		<li>
			<a th:href="@{/admin/users}">Users</a>
		</li>
	</ul>
</div>

</body>
</html>
